<%- include('parts/top.ejs')%>
<main>
                
                
                <%-include('parts/second-nav.ejs')%>
                <header class="row tm-welcome-section">
                    <h2 class="col-12 text-center tm-section-title">New orders</h2>
                </header>
                <!-- Gallery -->
                <div class="row tm-gallery">
                    <!-- gallery page 1 -->
                    <div id="tm-gallery-page-pizza" class="tm-gallery-page">
                        
                        <% for(let order of orders) { %>
                            <article class="col-12 col-sm-6 tm-gallery-item">
                                <figure>
                                    <%if(!order.ordered){%>
                                        <figcaption style="background-color: rgb(158, 255, 145);">
                                            <center><h4 >New Order</h4></center>
                                            <p class="tm-gallery-description">name:<%=order.firstname%></p>
                                            <p class="tm-gallery-description">lastname:<%=order.lastname%></p>
                                            <p class="tm-gallery-description">phone number:<%=order.phonenumber%></p>
                                            <p class="tm-gallery-description">street:<%=order.street%></p>
                                            <p class="tm-gallery-description">city:<%=order.city%></p>
                                            <p class="tm-gallery-description">zip code:<%=order.zipcode%></p>
                                            <a href="<%=order.booklink%>"target="blank">
                                                <button class="tm-btn tm-btn-success tm-btn-right" style="background-color:#2F956D;color:white;">
                                                    See ordered book
                                                </button>
                                            </a>
                                            <form action="/endorder" method="post">
                                                <input type="hidden" name="orderid" value="<%=order._id%>">
                                                <button style="background-color: rgb(209, 65, 65);" class="tm-btn tm-btn-success tm-btn-right">
                                                    End order
                                                </button>
                                            </form>
                                        </figcaption>   
                                        <%}%>
                                            
                                </figure>
                            </article>

                        <% } %>
                    </div> <!-- gall ery page 3 -->
                </div>
               
            </main>
            
          <%- include('parts/bottom.ejs')%>

         

            